/* =============================
* CLEARFIX
* ============================== */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ===============================
* BOOTSTRAP OVERRIDES
*================================= */
.row {
  margin-left: 0;
  margin-right: 0; }

.container {
  max-width: 965px; }

.header-container {
  max-width: 965px; }

.btn {
  padding: 0.5em 1.5em;
  background-color: #41b6e8;
  color: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 0 0 #1580ae;
  font-weight: bold;
  letter-spacing: 2px; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #41b6e8;
    color: #FFFFFF;
    border: none;
    box-shadow: 2px 2px 0 0 #1580ae;
    outline: none;
    margin: 1px 0 -1px 1px; }

.form-control {
  float: left;
  margin-right: 0.3em;
  margin-bottom: 0.4em;
  border-color: #1AA2DC;
  color: #2D2D2D;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 0.3s; }
  .form-control:focus {
    color: #2D2D2D;
    border-color: #1AA2DC;
    -webkit-box-shadow: none;
    box-shadow: none; }

textarea {
  resize: vertical;
  color: #2D2D2D;
  font-family: "Courier New", Courier, monospace; }
  textarea:focus {
    background-color: #EFEFEF; }

.panel {
  border-radius: 0;
  box-shadow: 2px 2px 0 0 #CFCFCF; }
  .panel .panel-heading {
    color: #1580ae;
    border-radius: 0;
    border-bottom: 1px transparent;
    background-color: #EFEFEF;
    border-color: #CFCFCF;
    font-weight: bold; }
  .panel .panel-body {
    border-radius: 0;
    border-top: 1px dashed;
    background-color: #FFFFFF;
    border-color: #CFCFCF;
    padding: 0.8em 1em;
    word-wrap: normal; }

blockquote {
  background-color: #FFFFFF;
  border: 1px solid #41b6e8;
  font-style: italic;
  font-size: 1.2em;
  color: #606060;
  position: relative;
  box-shadow: 2px 2px 0 0 #41b6e8; }
  blockquote .quote-author {
    float: right;
    margin-right: 1em;
    font-style: normal;
    font-size: 0.8em; }
  blockquote.tool-block {
    min-height: 150px;
    vertical-align: middle;
    float: none; }

/* =============================
* STYLES
* ============================== */
html, body {
  font-family: 'Lato', sans-serif;
  color: #2D2D2D;
  background-color: #FAFAFA; }

h1, h2, h3 {
  font-weight: bold; }

h2 {
  margin-top: 10px;
  font-size: 2em;
  color: #1AA2DC; }

h3 {
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  color: #1AA2DC; }

a {
  color: #1AA2DC; }
  a:hover, a:active, a:focus {
    color: #1AA2DC; }

p {
  line-height: 1.8em; }

.section {
  padding: 1.5em 0; }

#intro {
  position: relative;
  background-color: #1AA2DC;
  color: #FFFFFF;
  padding-top: 0; }
  #intro h1 {
    font-size: 3em;
    text-transform: uppercase; }
  #intro h2 {
    color: #FFFFFF; }
  #intro p {
    color: #FFFFFF;
    line-height: 1.5em;
    font-size: 1.1em;
    margin-bottom: 0.3em; }
    #intro p.intro-description {
      font-style: italic; }
  #intro #nav ul {
    padding-right: 0;
    margin-bottom: 0;
    float: right; }
    #intro #nav ul li {
      z-index: 999;
      font-size: 1.2em;
      transition: background 0.3s;
      padding: 0.5em 0.4em;
      font-weight: bold;
      float: left;
      list-style: none; }
      #intro #nav ul li:hover {
        cursor: pointer;
        cursor: hand; }
      #intro #nav ul li:last-of-type {
        padding-right: 0; }

/* =============================
* Fancy navigation
* ============================== */
.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px; }

.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  border-radius: 1px;
  width: 0px;
  background: transparent;
  transition: width .25s ease, background-color .25s ease; }

.sliding-middle-out:hover:after {
  width: 100%;
  background: #FFFFFF; }

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: #1AA2DC;
  box-shadow: 0 3px 1px 0 #1580ae; }

#subscribe-container {
  background-color: #1AA2DC;
  border-bottom: 2px dashed #FAFAFA; }
  #subscribe-container h2 {
    color: #FFFFFF; }
  #subscribe-container .intro-subscribe {
    color: #FFFFFF;
    font-weight: bold; }
  #subscribe-container .form-control {
    border-radius: 0;
    background-color: #FFFFFF;
    color: #2D2D2D;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 200px; }
    #subscribe-container .form-control:hover {
      background-color: #EFEFEF; }
    #subscribe-container .form-control:focus {
      color: #2D2D2D;
      background-color: #EFEFEF;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #subscribe-container .form-group {
    margin-bottom: 0em; }

#meeting .list-group {
  box-shadow: 2px 2px 0 0 #CFCFCF; }
  #meeting .list-group .list-group-item {
    border-radius: 0;
    padding: 5px 15px;
    position: relative;
    color: #2D2D2D;
    border-color: #CFCFCF;
    transition: all 0.2s; }
    #meeting .list-group .list-group-item a, #meeting .list-group .list-group-item a:active, #meeting .list-group .list-group-item a:hover, #meeting .list-group .list-group-item a:focus {
      color: #2D2D2D;
      text-decoration: none; }
    #meeting .list-group .list-group-item .arrow-right {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
      transition: all 0.3s; }
    #meeting .list-group .list-group-item .minute {
      position: absolute;
      top: 1.5em;
      right: 3.5em;
      transition: all 0.3s; }
      #meeting .list-group .list-group-item .minute .minute-link:hover {
        color: #1AA2DC; }
    #meeting .list-group .list-group-item:hover {
      background-color: #EFEFEF; }
      #meeting .list-group .list-group-item:hover .arrow-right {
        position: absolute;
        top: 1.5em;
        right: 1em;
        color: #1AA2DC; }

#getting-started-container {
  background-color: #e0f3fb;
  border-top: 2px dashed #1AA2DC;
  border-bottom: 2px dashed #1AA2DC; }
  #getting-started-container #getting-started h2 {
    color: #1AA2DC; }

#projects-container {
  background-color: #e0f3fb;
  border-top: 2px dashed #1AA2DC;
  border-bottom: 2px dashed #1AA2DC; }
  #projects-container #projects h2 {
    color: #1AA2DC; }

#tools .tool {
  text-align: center; }
  #tools .tool .tool-img-wrapper {
    line-height: 100px; }
    #tools .tool .tool-img-wrapper img {
      vertical-align: middle;
      max-width: 100px;
      max-height: 100px; }

.code-example {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  overflow: auto;
  position: relative; }
  .code-example p {
    white-space: pre;
    margin-bottom: 0; }
    .code-example p .code-info {
      background-color: lightblue;
      cursor: pointer;
      cursor: hand; }

#dcat-example .code-details {
  text-align: right; }
  #dcat-example .code-details span {
    font-size: 1.2em;
    font-weight: bold; }
  #dcat-example .code-details p {
    margin-bottom: 2em; }

#faq h3 {
  color: #2D2D2D; }

#faq p {
  margin-bottom: 2em;
  color: #606060; }
  #faq p:last-of-type {
    margin-bottom: 0; }

.display-table {
  display: table;
  table-layout: fixed; }

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

#footer {
  background-color: #1AA2DC;
  color: #FFFFFF; }
  #footer p {
    margin: 2em 0 1em 0; }
  #footer a, #footer a:active, #footer a:hover, #footer a:focus {
    text-decoration: underline;
    color: #FFFFFF; }
  #footer #partners {
    margin-top: 1em; }
    #footer #partners h2 {
      color: #FFFFFF; }
  #footer .partner-logos img {
    vertical-align: middle;
    display: block;
    max-width: 100%;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    opacity: 0.85; }
    #footer .partner-logos img:hover {
      opacity: 1; }

.green {
  color: #1AA2DC; }

/* =============================
* MEDIA QUERIES
* ============================== */
/* Smartphones */
@media screen and (min-width: 480px) {
  #dcat-example .code-details {
    text-align: left; }
    #dcat-example .code-details span {
      margin-top: 10px; }
    #dcat-example .code-details p {
      margin-bottom: 1em; } }

@media screen and (min-width: 992px) {
  #dcat-example .code-details {
    text-align: left; }
    #dcat-example .code-details span {
      margin-top: 10px; }
    #dcat-example .code-details p {
      margin-bottom: 1em; } }

.form-control::-webkit-input-placeholder {
  color: #7a7a7a; }

.form-control:-moz-placeholder {
  color: #7a7a7a;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #7a7a7a; }

.form-control:-ms-input-placeholder {
  color: #7a7a7a; }
